# Combine csv results from the FC Zonal Statistics workflow

This notebook has been created to take the csv outputs from the FC Zonal Statistics workflow and save them into a single csv. Results include the `annual results` and the `error log` record.

The total number of SA2 is 2310, however 22 SA2 are not spatially valid, such as SA2 that outside of the DEA dataset coverage (e.g. Norfolk Island) or do not contain spatial information (e.g. SA2 that are `Migratory - Offshore - Shipping` or `No usual address`). Therefore there are 2288 valid SA2.

In [ ]:
import pandas as pd
import glob

## USER INPUT: add location of output csv

In [30]:
path = '/g/data/r78/ext547/abs/output/2015-2017/'

## Set up process

In [41]:
## Create a glob file that contains a list of all `annual` and `error log` csv
annual_files = glob.glob(path + '*annual.csv')
error_files = glob.glob(path + '*error_log.csv')

annual_files

['/g/data/r78/ext547/abs/output/2015-2017/tabulate_FC_20June19_over20000_702021055_2015_2017_annual.csv',
 '/g/data/r78/ext547/abs/output/2015-2017/tabulate_FC_17June19_200to5000_2015_2017_annual.csv',
 '/g/data/r78/ext547/abs/output/2015-2017/tabulate_FC_20June19_5000to20000_lastSA2_2015_2017_annual.csv',
 '/g/data/r78/ext547/abs/output/2015-2017/tabulate_FC_11June19_over20000_702051066_2015_2017_annual.csv',
 '/g/data/r78/ext547/abs/output/2015-2017/tabulate_FC_20May_20-200_2015_2017_annual.csv',
 '/g/data/r78/ext547/abs/output/2015-2017/tabulate_FC_21June19_over20000_702031061_2015_2017_annual.csv',
 '/g/data/r78/ext547/abs/output/2015-2017/tabulate_FC_20June19_over20000_510011263_2015_2017_annual.csv',
 '/g/data/r78/ext547/abs/output/2015-2017/tabulate_FC_25May_0-20_2015_2017_annual.csv',
 '/g/data/r78/ext547/abs/output/2015-2017/tabulate_FC_03June19_over20000_annual.csv',
 '/g/data/r78/ext547/abs/output/2015-2017/tabulate_FC_18June19_5000to20000_2015_2017_annual.csv',
 '/g/data/r78/ext547/abs/output/2015-2017/tabulate_FC_11June19_over20000_702051068_2015_2017_annual.csv']

In [42]:
#create dataframe with headings
annual_df = pd.DataFrame(columns= ['DATE','SA2_MAIN16', 'SA2_NAME16', 'AREASQKM16','PV_PERCENTAGE','NPV_PERCENTAGE','BS_PERCENTAGE'
          ,'WOFL_PERCENTAGE', 'UNCLASSIFIED_PERCENTAGE','PV_AREA_SQKM_ALBERS3577','NPV_AREA_SQKM_ALBERS3577',
          'BS_AREA_SQKM_ALBERS3577','WOFL_AREA_SQKM_ALBERS3577','UNCLASSIFIED_AREA_SQKM_ALBERS3577', 
          'AVERAGE_OBSERVATION_COUNT','MONTHS_WITH_NO_DATA', 'MONTHS_WITH_LOW_DATA'])

error_df = pd.DataFrame(columns= ['RUN_NAME','SA2_MAIN16','DATE_RANGE','ERROR_MESSAGE'])

## Join results together

In [52]:
#Join all annual results into one dataframe
annual_out = annual_df
for csv_path in annual_files:
    annual_in = pd.read_csv(csv_path)
    annual_out = pd.concat([annual_out, annual_in],sort=False)    
annual_out.rename(columns={'FC_AREA_SQKM_ALBERS3577':'TILED_AREA_SUM_SQKM_ALBERS3577'},inplace=True)
print(f"There are {len(annual_out)/3} successful SA2 within the output results")

There are 2274.0 successful SA2 within the output results

In [47]:
#Join all error log results into one dataframe
error_out = error_df
for csv_path in error_files:
    error_in = pd.read_csv(csv_path)
    error_out = pd.concat([error_out, error_in],sort= False)
print(f"There are {len(error_out)} unsucessful SA2. No FC results were saved for these SA2")

There are 14 unsucessful SA2. No FC results were saved for these SA2

In [49]:
(f"There is a record of {len(error_out) + len(annual_out)/3} successful and unsuccessful SA2")

'There is a record of 2288.0 successful and unsuccessful SA2'

## Save results into csv

In [40]:
#Save annual and error log record into a `master` csv
annual_out.to_csv(f'{path}/tabulate_FC_21May_2015_2017_annual_MASTER.csv')
error_out.to_csv(f'{path}/tabulate_FC_21May_2015_2017_error_MASTER.csv')

In [53]:
#A tool to checl whether particular SA2 are located in the FC output
annual_out.loc[annual_out['SA2_MAIN16'] == 702031061]

,DATE,SA2_MAIN16,SA2_NAME16,AREASQKM16,PV_PERCENTAGE,NPV_PERCENTAGE,BS_PERCENTAGE,WOFL_PERCENTAGE,UNCLASSIFIED_PERCENTAGE,PV_AREA_SQKM_ALBERS3577,NPV_AREA_SQKM_ALBERS3577,BS_AREA_SQKM_ALBERS3577,WOFL_AREA_SQKM_ALBERS3577,UNCLASSIFIED_AREA_SQKM_ALBERS3577,AVERAGE_OBSERVATION_COUNT,MONTHS_WITH_NO_DATA,MONTHS_WITH_LOW_DATA,TILED_AREA_SUM_SQKM_ALBERS3577
0,2015,702031061.0,West Arnhem,33509.2427,42.846142,41.362602,12.731695,0.729485,2.330076,14357.413351,13860.290434,4266.293294,244.444779,780.790642,29.448176,0,2,33509.2325
1,2016,702031061.0,West Arnhem,33509.2427,44.823082,37.344651,12.608209,0.714341,4.509717,15019.870832,12513.905906,4224.914165,239.370168,1511.171430,24.593251,0,2,33509.2325
2,2017,702031061.0,West Arnhem,33509.2427,43.047794,41.767592,11.510065,0.691136,2.983413,14424.985264,13995.999595,3856.934303,231.594456,999.718883,20.408963,0,5,33509.2325